{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <h2 class="page-headers">ToDos</h2>
        <thead>
        <tr>
            <th>#</th>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
        <tr>
            <th scope="row">{{ todo.id }}</th>
            <td>{{ todo.description }}</td>
            <td>{{ todo.dueDate | date("d/m/Y", false) }}</td>
            <td>
                <a href="/todo/details/{{ todo.id }}" class="btn btn-success">View</a>
                <a href="/todo/edit/{{ todo.id }}" class="btn btn-warning">Edit</a>
                <a href="/todo/delete/{{ todo.id }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}